
{% extends 'MBPlatformBundle::layout.html.twig' %}

{% block title %}
  Ajouter une annonce - {{parent()}}
{% endblock %}

{% block mbplatform_body %}
  <h2> Ajouter une annonce </h2>

  {{ include('MBPlatformBundle:Advert:form.html.twig') }}

{% endblock %}
